AUTH_MODE=sso_ticket
XSYNC_PORT=8791
XSYNC_BASE_PATH=/xsync
XSYNC_BIND=127.0.0.1
XSYNC_COOKIE_SECURE=true
XSSO_BASE_URL=http://host.docker.internal:7000/xsso
XSSO_APP_CODE=xsync
XSSO_APP_SECRET=replace-with-xsso-app-secret
XSSO_LOGIN_URL=/xsso/launch
