AUTH_MODE=sso_ticket
XSYNC_HOST=0.0.0.0
XSYNC_PORT=8791
XSYNC_BASE_PATH=/xsync
XSYNC_DATA_DIR=.data
XSYNC_COOKIE_SECURE=true
XSSO_BASE_URL=http://host.docker.internal:7000/xsso
XSSO_APP_CODE=xsync
XSSO_APP_SECRET=change-me
XSSO_LOGIN_URL=/xsso/launch
